<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/news.css">
  <link rel="stylesheet" href="css/navigation.css">
  <link rel="stylesheet" href="css/gridBodyStyle.css">
</head>
<body>
  <header>

    <div class="app-logo">
      <img src="../icones/logoNACAJalinhado.png" alt="">
      <h1>NACAJ</h1>
    </div>
  </header>
  <main>
    <%if(Array.isArray()){
      title?.forEach(element => {
       if(typeof(element) == 'object') {%>
 
         <section class="news-link">
           <a href="/singlenewsdisplay/<%= element.id %>">
             <section class="main-content">
               <div class="image"><img src="imagens/<%= element.url %>" alt=""></div>
               <div class="title">
                 <div class="titulo"><h2><%= element.title %></h2></div>
               </div>
             </section>
           </a>
           <div class="change-buttons">
             <a href=""><button class="edit-button buttons"><img src="../icones/pencil.png" alt=""></button></a>
             <button class="delete-button buttons" data-doc="<%= element.id %>"><img src="../icones/trashcan.png" alt=""></button>
           </div>
         </section>
     <%} 
    })

    }
     if(title.length <= 0) {%>  
    <section class="empty">
      <p>Não existem noticias para mostrar!</p>
    </section>
  <%}%>
  
  <section class="eventos">
      <button class="event-panel-close">fechar</button>
      <div class="header-two">
        <h2>Eventos</h2>
      </div>
      <div class="events">
        <div>
          <h3>Um de junho solidario</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat laudantium libero numquam beatae omnis repudiandae? Cumque sed iusto accusantium. Odio minima, fugit excepturi ipsum doloribus itaque animi deserunt dicta porro?</p>
        </div>
        <div>
          <h3></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat laudantium libero numquam beatae omnis repudiandae? Cumque sed iusto accusantium. Odio minima, fugit excepturi ipsum doloribus itaque animi deserunt dicta porro?</p>
        </div>
        <div>
          <h3></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat laudantium libero numquam beatae omnis repudiandae? Cumque sed iusto accusantium. Odio minima, fugit excepturi ipsum doloribus itaque animi deserunt dicta porro?</p>
        </div>
        <div>
          <h3></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat laudantium libero numquam beatae omnis repudiandae? Cumque sed iusto accusantium. Odio minima, fugit excepturi ipsum doloribus itaque animi deserunt dicta porro?</p>
        </div>
        <div>
          <h3></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat laudantium libero numquam beatae omnis repudiandae? Cumque sed iusto accusantium. Odio minima, fugit excepturi ipsum doloribus itaque animi deserunt dicta porro?</p>
        </div>
      </div>
    </section>

  </main>
  <footer>

    <nav class="navigation">
      <a href="/" class="active"><img src="../icones/world_2298220.png" alt=""></a>
      <a href="/newscreate">
        <div class="add-button button"><img src="../icones/plusSign.png" alt="" class="add-icon"></div>
      </a>
      <a href="/activitydisplay"><img src="../icones/checklist_7111148.png" alt=""></a>
    </nav> 
  </footer>


  <script>
    let deleteButton = document.querySelectorAll('.delete-button');
    
    deleteButton.forEach(element => {
      console.log(`${element.dataset.doc}`)
      
      element.addEventListener('click', (e) => {
        const endpoint = `/delete/${element.dataset.doc}`;

  
        fetch(endpoint, {
          method: 'DELETE'
        })
        .then((response) => {
          window.location.href = '/'
        })
        .catch((err) => {
          console.log(err)
        })
      })
    })
  </script>

</body>
</html>