<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/news.css">
</head>
<body>
  <main>
    <section class="news">
      <h1>News</h1>
      <form action="">
        <div class="input-div">
          <div class="input title-div">
            <label for="news-title">Title</label>
            <input type="text" class="title" name="title" id="news-title" placeholder="Escreva o titulo da noticia" required>
            <div class="news error"></div>
          </div>
          <div class="input description-div">
            <label for="news-description">Description</label>
            <textarea name="description" class="description" id="news-description" placeholder="Escreva aqui o conteudo da noticia" required></textarea>
            <div class="description error"></div>
          </div>
          <div class="input file">
            <label for="news-image">Escolha uma imagem</label>
            <input type="file" name="image" class="image" id="news-image">
          </div>
        </div>
        <div class="success">

        </div>
        <div class="form-buttons">
          <button>Publicar</button>
          <div class="login-button cancel"><p>Cancelar</p></div>
        </div>
      </form>
    </section>
    
  </main>


  <script>
    const formSignup = document.querySelector('form')
    const titleError = document.querySelector('.news.error')
    const descriptionError = document.querySelector('.description.error')
    const cancelButton = document.querySelector('.cancel')
    const title = document.querySelector('.title')
    const description = document.querySelector('.description')
    const fileInput = document.querySelector('.image')
    const successMessage = document.querySelector('.success')

    cancelButton.addEventListener('click', () => {
      if(!formSignup.title.value == '') {
        console.log('empty')
      } else{
        console.log('full')
      }
    })
    
    formSignup.addEventListener('submit', async (e) => {
      e.preventDefault();
      
      const file = fileInput.files[0]
      const formData = new FormData();
      formData.append('title', title.value);
      formData.append('description', description.value);
      formData.append('uploadDate', new Date().toISOString())
      formData.append('image', file);
      
      try {
        const res = await fetch('/news', {
          method: 'POST',
          body: formData,
        })
        const data = await res.json()
        console.log(data)
        if(data.err) {
          titleError.textContent = data.err.email
          descriptionError.textContent = data.err.password
        } else {
          successMessage.textContent = data.message
        }
      } catch (error) {
        console.log(error)
      }
    })
  </script>

</body>
</html>