


.carousel{
  scroll-snap-align: start;
  display: flex;
  margin: 10px auto;
  width: 90%;
  border: 5px solid red;
  overflow-x: auto;
}

.carousel::-webkit-scrollbar{
  display: none;
}

.group{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 10s infinite linear;
  padding-right: 1em;
}

.card{
  flex: 0 0 5em;
  height: 5em;
  padding: 1em;
  background: cornflowerblue;
  font-size: 3rem;
  border-radius: .2em;
  text-align: center;
  align-content: center;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}


.empty{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

a{
  color: #000000;
}